body{
font-family: 'Inter', sans-serif;
}
@font-face {
    src: url('../src/assets/fonts/ProximaNovaT-Thin.eot');
    src: url('../src/assets/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('../src/assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
}
#spice{
    font-family: 'Proxima Nova Thin';
    font-weight: normal;
    font-style: normal;
}